@use '../../style/global.scss';

.root {
  position: relative;
}

.image {
  position: absolute;
  --blur-amount: 3px;
  width: 100%;
  height: calc(100% + var(--blur-amount) * 4);
  margin-top: calc(var(--blur-amount) * -2);
  background-image: url("/img/landing-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(var(--blur-amount));
  z-index: -1;
}

.image::after {
  content: "";
  display: block;
  background-color: rgba(global.$primary-color, 0.5);
  width: 100%;
  height: 100%;
}

.imageContainer {
  overflow: hidden;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 60rem;
  min-height: clamp(720px, 75vh, 100vh);
}

.paper {
  margin: global.$space-content auto;
  max-width: 60rem;
  padding: global.$space-gutter global.$space-gutter * 2;
}

.paper h1 {
  text-align: center;
  margin: global.$space-gutter 0 global.$space-gutter * 2 0;
  color: global.$primary-color;
  font-size: global.$font-size-headline;
}

.paper h2,
.paper h3,
.paper h4 {
  margin: 0 0 global.$space 0;
}

.paper p {
  margin: 0 0 global.$space-gutter 0;
  text-indent: 2em;
  text-align: justify;
}

.paper blockquote p {
  text-indent: 0;
  font-size: global.$font-size-small;
  margin: 0 0 global.$space 0;
}

@media only screen and (max-width: 70rem) {
  .content {
    margin: 0 global.$space-gutter;
  }
}

@media only screen and (max-width: global.$screen-size-xs) {
  .paper {
    margin: global.$space-content auto;
    max-width: 60rem;
    padding: global.$space-gutter global.$space-gutter * 1.5;
  }

  .paper p {
    margin: 0 0 global.$space-gutter 0;
    text-indent: 1em;
    text-align: start;
  }
}
