@use '../../style/global.scss';

.container {
  position: relative;
}
.image {
  --blur-amount: 3px;
  width: calc(100% + var(--blur-amount) * 4);
  height: calc(100% + var(--blur-amount) * 4);
  margin-top: calc(var(--blur-amount) * -2);
  margin-left: calc(var(--blur-amount) * -2);
  margin-right: calc(var(--blur-amount) * -2);
  background-image: url("/img/landing-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(var(--blur-amount));
}

.image::after {
  content: "";
  display: block;
  background-color: rgba(global.$primary-color, 0.5);
  width: 100%;
  height: 100%;
}

.imageContainer {
  height: 30vh;
  overflow: hidden;
}
.content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%);
}
.contentText {
  color: global.$secondary-color;
  text-shadow: 1px 1px #f0f0f0, 1px 2px #aaa, 0px 0px 50px #000,
    0px 0px 5px #000;
  font-size: clamp(2rem, 8vw, 8vh);
  font-weight: 500;
}
.contentSubtitle {
  text-align: center;
  color: global.$secondary-color;
  text-shadow: 1px 2px #555, 0px 0px 10px #000;
  font-size: clamp(1rem, 3vw, 4vh);
  font-weight: 500;
}
