@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$space: 5px;
$space-gutter: $space * 3;
$space-content: 64px;
$primary-color: rgb(15, 73, 217);
$secondary-color: rgb(250, 250, 250);
$font-size-bigger: 1.2rem;
$font-size-big: 1.1rem;
$font-size: 1rem;
$font-size-small: 0.9rem;
$font-size-smaller: 0.8rem;
$font-weight-bold: 700;
$font-weight: 400;
$font-weight-thin: 300;

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: -apple-system, Roboto, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 1rem;
  --user-font-scale: 1rem - 16px;
  font-size: clamp(
    0.875rem,
    0.4626rem + 1.0309vw + var(--user-font-scale),
    1.125rem
  );
  color: black;
}

body {
  width: 100%;
  min-height: 100vh;
}

a {
  color: inherit;
}

@mixin grid($no) {
  .grid-#{$no} {
    display: grid;
    grid-template-columns: repeat($no, 1fr);
    gap: $space-gutter;
  }

  @media only screen and (max-width: 600px) {
    .grid-#{$no} {
      grid-template-columns: 1fr;
    }
  }
}

@mixin gi($no, $direction: column) {
  @if $direction != row and $direction != column {
    @error "Direction #{$direction} must be either row or column.";
  }

  .gi-#{$no} {
    grid-#{$direction}: $no;
  }

  @media only screen and (max-width: 600px) {
    .gi-#{$no} {
      grid-#{$direction}: 1;
    }
  }
}

@include grid(1);
@include grid(2);
@include grid(3);
@include grid(4);

@include gi(1);
@include gi(2);
@include gi(3);
@include gi(4);

.flex {
  display: flex;
  gap: $space-gutter;
  align-items: center;
  justify-content: center;
}
