@use '../style/global.scss';

.hero-paper_root {
  margin: auto;
  max-width: 60rem;
  padding: global.$space-gutter global.$space-gutter * 2;
}

.hero-paper_root h1 {
  text-align: center;
  margin: global.$space-gutter 0 global.$space-gutter * 2 0;
  color: global.$primary-color;
  font-size: global.$font-size-headline;
}

.hero-paper_root h2,
.hero-paper_root h3,
.hero-paper_root h4 {
  margin: 0 0 global.$space 0;
}

.hero-paper_root p {
  margin: 0 0 global.$space-gutter 0;
  text-indent: 2em;
  text-align: justify;
}

.hero-paper_root blockquote p {
  text-indent: 0;
  font-size: global.$font-size-small;
  margin: 0 0 global.$space 0;
}
