@use "../../style/global.scss";

.root {
  background-color: white;
  color: black;
  text-align: center;
}
.content {
  margin: 25px auto;
}
.map {
  width: 100%;
  margin-bottom: -5px;
}
.header {
  margin: 25px;
}
.lowerBar {
  padding: 5px;
  background-color: #eee;
}

.icon {
  font-size: 2rem;
}

.grid {
  text-align: start;
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-auto-rows: minmax(32px, auto);
    padding: global.$space;
  }
}
