---
import '../style/base.scss';
import Header from '../components/Header/Header.tsx';
import Footer from '../components/Footer/Footer.tsx';
import FloatingButton from '../components/_shared/FloatingButton/FloatingButton.tsx';

const {title} = Astro.props;
---
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta
          name="description"
          content="Araç motor veya şasi numara çakım servisi Otomobil, minibüs, kamyonet, traktör, motosiklet ve kamyon için numara çakma merkezi."
        />
        <title>{title}</title>
        <link rel="icon" type="image/svg+xml" href="/Rfav.png">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src={"https://www.googletagmanager.com/gtag/js?id=UA-218084417-1"}></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', "UA-218084417-1");
        </script>
    </head>
    <body>
        <Header client:load/>
        <main>
            <slot />
        </main>
        <Footer/>
        <a href="https://api.whatsapp.com/send?phone=+905327357272&text=Merhaba,%20"><FloatingButton className='floatingWhatsapp'><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAUVBMVEVHcEzz9PP3+Pfq7er19vb//v/8/PyltKrx+PKz5b1z04cwxlYMwUMAvCkAvjMAvzoDwUBGTUiH2JiY3aXX8Nxcznbo6ulJymfQ1NHJzcq9wr8gaKU6AAAAG3RSTlMAOlmJ2f//Lvj+/v///////xX+/v7+rP56aF7BK/qjAAABgklEQVR4AX2Sh5qEMAiEbYyJqXa993/QAza5z2v7b8UMMKDNN9qu77u2+Yd+oMLQ/3UMeoCfktHIVTs5791kRWvGb73BV6YQU2ZSDJPo28c5hzYk/0UKlghfipnzl+C/ERZWVMHA59H7nL8pVp6mUTqp7310Ln1TbESdCtgQJ0fO2J+KnNl4cbhGnx0b3aJ/EO1rkoPIZZ9WAuCeNhLnHGrRBJUDtH53YdQmyEaWL1Lh+yCSxEsoeQn4btJr27kZQYtclym279uSqqMI1lTntqpI6VlhVg9M9gArsg92Cal6mHlPdfx8Emg75S6YV9dNN3WAaskTsi0Zh6bEMUH2cLHLqvDsA4LsTjzeerNhqvscJpYwa5Q9gS0w/XODKbjF2jPK3PXJrIMWcooxiyGSAkKvHX+QHICPRhnYQ0mr5LADpYFuShunWIeJ2VI5Z25gM8TA7jFEfu9Whr2awoEKi8ymYmAYm4oBh8fHfA8vESRme5URxz0XN9cxMMelcYWDt3wCfLshX3540l4AAAAASUVORK5CYII=" alt="whatsapp"/></FloatingButton></a>
  </body>
</html>
